.login-background {
  background: #455A64;
}

.login-container {
  text-align: center;
  margin-top: 20%;
}

.login-input {
  margin: 10px 0;
}

.forgot-text, .register-text {
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
