<ion-content class="ion-padding login-background">
  <div class="login-container">
    <img src="assets/img/logo.png" alt="Nu.Tri Logo" class="logo"/>
    <ion-input placeholder="Login" class="login-input"></ion-input>
    <ion-input placeholder="Senha" type="password" class="login-input"></ion-input>
    <ion-button expand="full" (click)="login()">Login</ion-button>
    <ion-text color="medium" class="forgot-text" (click)="goToRegister()">Esqueci a Senha</ion-text>
    <ion-text color="medium" class="register-text" (click)="goToRegister()">Registrar-se</ion-text>
  </div>
</ion-content>
