.recipes-background {
    background: #F5F5F5;
  }
  
  .recipe-categories {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  
  ion-item {
    margin: 10px 0;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
  }
  